.chatInputPanel {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
}

.chatInputPanel__button {
    text-transform: uppercase;
    background-color: #e8414a;
    font-weight: bold;
    font-size: 14px;
}

.chatInputPanel__textarea {
    height: calc(2.25rem + 2px) !important;
}