.FormCard {
    max-width: 344px;
    margin: 0 auto;
}

.FormCard .form {
    box-shadow: -1px 5px 17px 0px #dcdcdc;
}

.FormCard .form .header {
    text-align: center;
    background-color: #949494;
    color: #fff;
    padding-top: 90px;
    min-height: 10px;
    width: 100%;
    padding-bottom: 20px;
}

.FormCard .form .header a {
    color: #fff;
}

.FormCard .form form table {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.FormCard .form form {
    margin-top: 30px;
    text-align: center;
}

.FormCard .form form input[type="text"],
.FormCard .form form input[type="password"] {
    width: 90%;
    padding: 10px;
}

.FormCard .form form input[type="checkbox"] {
    margin-right: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.FormCard .form form input {
    margin-bottom: 5px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
}

.FormCard .form form .button {
    margin-bottom: 25px;
    width: 50%;
    background: #e8414a;
    color: white;
    padding: 14px 30px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
}

.FormCard .avatar {
    background: url('../../images/avatar_big.png') no-repeat center;
    height: 128px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: -66px;
    display: inline-block;
    z-index: 2;
}