.form {
    margin-top: 220px;
    box-shadow: -1px 5px 17px 0 #dcdcdc;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.form__header {
    background-color: #949494;
    text-align: center;
}

.form__avatar {
    margin-top: -64px;
}

.form__headerText {
    padding-top: 32px;
    padding-bottom: 16px;
    color: white;
}

.form__headerText--a {
    text-decoration: underline;
    color: white;
}

.form__headerText--a:hover {
    color: white;
}

.form__container {
    width: 100%;
}

.form__input {
    padding-left: 15px;
    padding-right: 15px;
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}