.chatHeader__userEmail {
    line-height: 64px;
}

.chatHeader__userAvatar {
    border: 2px solid white;
    border-radius: 32px;
}

.chatHeader__logoutIcon {
    padding: 20px 0;
    cursor: pointer;
}