$red-background: #e8414a;
$chat-bubble-received-background: #f5eee5;
$chat-bubble-date: #848484;
$chat-bubble-author: #870007;
$chat-input-panel-background: #f2f2f2;
$form-header-background: #949494;
$header-background: #f2f2f2;