.userDetailModal__content {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    height: auto;
    width: 300px;
    top: 40%;
    left: 40%;
}

.userDetailModal__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8414a;
    color: white;
}

.userDetailModal__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.userDetailModal__avatar {
    height: 128px;
    width: 128px;
    margin-top: -64px;
    margin-left: auto;
    margin-right: auto;
}

.userDetailModal__email {
    margin-top: 20px;
    margin-bottom: 20px;
}

.userDetailModal__innerContent {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.userDetailModal__innerContent:first-of-type {
    margin-top: 10px;
}

.userDetailModal__innerContent:last-of-type {
    margin-bottom: 10px;
}

.userDetailModal__close {
    width: 50%;
    justify-content: center;
}